html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  /* height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.opts-header {
  background: linear-gradient(to bottom, #d00, #b00);
  padding: 10px 0 0 0;
  box-shadow: 0 3px 10px #999;
}
.opts-header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 600px;
  margin: 0 auto;
}

.opts-header h1 {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 0;
  margin: 3px 0 0 0;
}

.opts-header img {
  vertical-align: middle;
  margin-right: 15px;
}

.opts-header .tab-bar {
  margin: 10px 0 0 0;
}

.opts-header a {
  display: inline-block;
  padding: 7px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  border-radius: 25px;
  margin: 0 5px 10px 5px;
  transition: background-color 0.2s ease;
}

.opts-header a:hover {
  color: #fff;
  background: #900;
}

.opts-header a.active {
  opacity: 1;
  color: #fff;
  background: #800;
}

.opts-header a.pending {
  pointer-events: none;
}
